# Flutter
.dart_tool/
.packages
build/
*.iml
.metadata

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store
**/.DS_Store

# Secrets
*.env
*.jks
*.keystore
